.container {
  min-height: 100vh;
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 16px;
}
.form span {
  margin-right: 8px;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.imagesContainer .images {
  flex-basis: 25%;
  margin: 8px;
}

.imagesContainer .images p {
  margin: 0;
}

.btn {
  margin: 32px 0;
  border: none;
  color: #fff;
  font-size: 24px;
  background-color: rgb(108, 35, 177);
  padding: 0.5em 0.8em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

.btn:hover {
  background-color: blueviolet;
}

.btn:active {
  transform: scale(0.99);
}
